.TypographyBox {
  width: 92%;
  background: #ffffff;
  margin-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 20px; }
  .TypographyBox h4 {
    padding-top: 4%;
    color: #1b93e1;
    font-size: 18px; }

.headerBox {
  background: #ffffff;
  padding-bottom: 4%;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden; }
  .headerBox div {
    background: #008df1;
    color: #999999; }
    .headerBox div p:nth-of-type(2) {
      font-size: 32px;
      float: left;
      width: 100%; }
    .headerBox div p:nth-of-type(1) {
      margin-top: 3%;
      font-size: 14px;
      margin-right: 14%;
      float: right; }

#title_h2 {
  font-size: 28px; }

#title_h3 {
  font-size: 24px; }

#title_h4 {
  font-size: 20px; }

#title_h5 {
  font-size: 16px; }

#title_h6 {
  font-size: 12px; }

.ProgressBarsBox {
  background: #ffffff;
  padding-bottom: 4%;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden; }
  .ProgressBarsBox p:nth-of-type(2) {
    line-height: 47px; }
    .ProgressBarsBox p:nth-of-type(2) span:nth-of-type(1) {
      margin-right: 12%; }
  .ProgressBarsBox span {
    color: #999999;
    font-size: 14px; }
  .ProgressBarsBox p:nth-of-type(1) span {
    height: 10px;
    display: inline-block; }
  .ProgressBarsBox p:nth-of-type(1) span:nth-of-type(1) {
    width: 20%;
    background: #337ab7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; }
  .ProgressBarsBox p:nth-of-type(1) span:nth-of-type(2) {
    width: 80%;
    background: #e1e1e1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }

#processBar2 span:nth-of-type(1) {
  width: 60%;
  background: #5bc0de; }
#processBar2 span:nth-of-type(2) {
  width: 40%; }

#processBar3 span:nth-of-type(1) {
  width: 30%;
  background: #5cb85c; }
#processBar3 span:nth-of-type(2) {
  width: 70%; }

#processBar4 span:nth-of-type(1) {
  width: 70%;
  background: #f0ad4e; }
#processBar4 span:nth-of-type(2) {
  width: 30%; }

#processBar5 span:nth-of-type(1) {
  width: 50%;
  background: #d9534f; }
#processBar5 span:nth-of-type(2) {
  width: 50%; }

#processBar6 span:nth-of-type(1) {
  width: 34%;
  background: #337ab7; }
#processBar6 span:nth-of-type(2) {
  width: 66%; }

#processBar7 span:nth-of-type(1) {
  width: 35%;
  background: #5cb85c; }
#processBar7 span:nth-of-type(2) {
  width: 20%;
  background: #f0ad4e;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }
#processBar7 span:nth-of-type(3) {
  width: 10%;
  height: 10px;
  background: #d9534f; }
#processBar7 span:nth-of-type(4) {
  width: 35%;
  background: #e1e1e1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.AlertsBox {
  background: #ffffff;
  padding-bottom: 4%;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
  font-size: 12px; }
  .AlertsBox p {
    margin: 2% auto;
    line-height: 50px;
    text-indent: 2%;
    border-radius: 4px; }
  .AlertsBox p:nth-of-type(1) {
    border: 1px solid #d6e9c6;
    color: #3c8584;
    background: #dff0d8; }
  .AlertsBox p:nth-of-type(2) {
    border: 1px solid #bce8f1;
    color: #8fc5f1;
    background: #d9edf7; }
  .AlertsBox p:nth-of-type(3) {
    border: 1px solid #faebcc;
    color: #93713b;
    background: #fcf8e3; }
  .AlertsBox p:nth-of-type(4) {
    border: 1px solid #ebccd1;
    color: #b0446e;
    background: #f2dede; }

.pageBox {
  display: -webkit-flex;
  margin-right: 12px; }

.page_left, .page_right {
  -webkit-flex: 1;
  padding-left: 17px; }

.page_left p:nth-of-type(1), .page_right p:nth-of-type(1) {
  margin-top: 36px; }
.page_left p, .page_right p {
  display: -webkit-flex;
  color: #4b92c5;
  font-size: 12px;
  text-align: center;
  line-height: 47px;
  margin-bottom: 47px; }
  .page_left p span, .page_right p span {
    width: 43px;
    height: 47px; }
  .page_left p span, .page_right p span {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
  .page_left p span:nth-of-type(1), .page_right p span:nth-of-type(1) {
    background: url("../img/bg1.png") no-repeat center center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .page_left p span:nth-of-type(7), .page_right p span:nth-of-type(7) {
    background: url("../img/bg_2.png") no-repeat center center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
.page_left p:nth-of-type(2) span, .page_right p:nth-of-type(2) span {
  width: 33px;
  heigth: 35px; }
.page_left p:nth-of-type(3) span, .page_right p:nth-of-type(3) span {
  width: 27px;
  heigth: 27px; }

imgBox {
  width: 39px;
  height: 39px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #ffffff url(../img/in4.jpg);
  background-size: 39px 39px; }

/*# sourceMappingURL=Typography.css.map */
